body {
    background-color: navy;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: teal;
    padding: 40px;
    border-radius: 12px;
    transition: 0.3s;
}

/* HOVER INTERACTION */
.card:hover {
    background-color: lightseagreen;
}

#menu {
    display: none;
    background-color: black;
    padding: 10px;
}